* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    // background: #020618;
    background: #000000;
}

.container {
    width: 100%;
    max-width: 99%;
    margin: 0 auto;
    padding: 0 10px;
    @media screen and (max-width: 550px) {
        padding: 5px;
    }
}